body{
    font-family: 'Nunito Sans', sans-serif;
  
}
.container{
    max-width: 1180px;/*максимальная ширина контента*/
    margin: 0 auto;/*В инспекторе весь блок съехал влево+отступ справа есть, обнуляем отступ верх них , а лево право-по центру auto*/
    padding-left: 15px;/*Делаем по бокам отступы, чтобы контент не прилипал к краям, т.е. заранее думаем об адаптиве*/
    padding-right: 15px;
}
.header{/*Дочерние элементы у него-это a, весь nav и button. Их и расставим*/
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;/*Ставим логотип, ссылки и кнопку по центру*/
    justify-content: space-between;/*Расставляет элементы от края до края*/
    padding-top: 26px;/*Из макета отступ сверху от меню с сылками*/
    padding-bottom: 25px;/*аналогично*/

}
.header-logo{ /*Делаем отрисовку логотипа, чтобы не вставлять в html*/
    display: block;/*Делаем ссылку блочным элементом*/
    background-image: url(../images/logo.svg);
    width: 176px;/*Из макета*/
    height: 56px;/*Из макета*/
    background-repeat: no-repeat;/*по умолчанию картинка дублируется*/
    background-size: cover;/*Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. Чтобы в дальнейшем картинка подстраивалась под наши блоки*/
}


.header-nav{/*Упорядочим все li из списка*/
    list-style-type: none;/*Убираем точки у элементов списка, которые по умолчанию*/
    display: flex;
    padding-left: 0;/*В инспекторе увидели лишний отступ слева, убираем его*/
    gap: 46px;/*Расстояние между ссылками(элементами) в меню, Свойство gap CSS задаёт отступы между столбцами и строками, а не вдоль края контейнера сетки.*/
    
}
.header-nav a{/*Стилизуем ссылки из меню*/
    font-weight: 600;/*Из макета*/
    font-size: 20px;/*Из макета*/
    color:#443737;/*Из макета*/
    text-decoration: none;/*убираем подчеркивание ссылок*/
}
.header-nav a::after{/*Создаем желтую линию под ссылкой, на которую наводим"*/
    content: '';/*так как это линия без букв, оставляем пустую строку*/
    width: 100%;
    height: 3px;
    border-radius: 1.5px;/*Из макета*/
    background: transparent;/*Делаем полоски не желтые, а прозрачные пока что*/
    display: block;/*Без этого свойства линии не будет*/
}
.header-nav a.active::after{/*Создаем желтую линию под "Главная"*/
    background: #FFC725;
}
.button{
    display: flex;
    align-items: center;
    background-color: transparent;/*Сделали цвет кнопки прозрачным*/
    border: none;/*Убрали у кнопки обводку*/
    padding: 0;/*увидели лишние отступы в инспекторе*/
    gap: 10px;/*из макета расстояник между корзиной и 125*/
}
.button-item{
    position: relative;/*Чтобы менять расположение круга с 5 относительно корзины*/
}
.button-count{/*стилизуем цифру 5*/
    font-weight: 700;/*из макета*/
    font-size: 13px;/*из макета*/
    color: #FFFFFF;/*из макета*/
    background: #F37335;/*из макета*/
    border-radius: 100%;/*Так сделали тот оранжевый круг*/
    position: absolute;
    width: 17px;/*из макета*/
    height: 17px;/*из макета*/
    text-align: center;/*ставим 5 в центр круга(по факту-если убрать, ничего не изменится*/
    line-height: 1.3;/*5 находится все равно не по центру, выравниваем ее позицию с помощью этого св-ва*/
    bottom: 3px;/*подогнали в инспекторе*/
    right: -4px;/*подогнали в инспекторе*/
}
.button-text{/*стилизуем $125*/
    color:#443737;/*иЗ МАКета*/
    font-weight: 700;/*иЗ МАКета, написали 700 вместо bold для единой стратегии написания*/
    font-size: 15px;/*иЗ МАКета*/ /*line-height не испольщуем, тк текст маленький*/
}
.bg{
    text-align: center;/*Выравниваем эл-ты по центру*/
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;/*Чтобы картинка растягивалась и сжималась с окном браузера, запись св-ва в тетр*/
    padding: 142px 0;
    background-position: center center;/*Чтобы у самой картинки соль и лаваш были по центру при сжатии окна.. */
}
.breadcrumbs{
    padding-left: 0;/*Из инспектора обнуляем у списка отступ слева*/
    margin-top: 0;/*Из инспектора обнуляем у списка отступ сверху*/
    list-style-type: none;/*убираем точки у списка*/
    display: flex;
    justify-content: center;/*Главная и наше меню-идут друз за другом и по центру*/
    gap: 16px;/*Чтобы измерить расстояние между ними- создали прямоугольник, и у него width примерно 16*/
}
.breadcrumbs a{
    color: #DEDEDE;/*из макета*/
    font-size: 15px;/*из макета*/
    font-family: 'Open Sans', sans-serif;/*из макета*/
    text-decoration: none;
}
.breadcrumbs a::before{/*Создаем символ "/"  перед всеми ссылками в блоке .breadcrumbs  */
    content: '/';
    position: relative;
    left: -7px;/*Сдвинули значок слэша-подобрали прям в инспекторе*/
}
.breadcrumbs li:first-child a::before{/*Нам нужно: в блоке .breadcrumbs выбираем первый ли и у него убираем слэш. сложно..*/
    display: none;/*Убрали знак слэша перед "главная"*/
}
.title{
    font-weight: 700;/*Из макета =bold*/
    font-size: 79px;/*из макета*/
    margin-top: 10px;/*откуда-на след уроке*/
    margin-bottom: 10px;/*откуда-на след уроке*/
}
.description{/*стилизуем текст "Выбирай..."  */
    font-family: 'Open Sans', sans-serif;/*из макета*/
    font-size: 15px;/*из макета*/
    line-height: 1.5;/*из макета 24 px, Анна сделала сама относительную единицу 1.5*/
    color: #FAF9F9;
    max-width: 320px;/*взяли из макета, но указали макс. после этого текст улетает влево*/
    margin: 0 auto;/*вернули текст в центр*/
}