body{
    font-family: 'Nunito Sans', sans-serif;
  
}
.container{
    max-width: 1180px;/*максимальная ширина контента*/
    margin: 0 auto;/*В инспекторе весь блок съехал влево+отступ справа есть, обнуляем отступ верх них , а лево право-по центру auto*/
    padding-left: 15px;/*Делаем по бокам отступы, чтобы контент не прилипал к краям, т.е. заранее думаем об адаптиве*/
    padding-right: 15px;
}
.header{/*Дочерние элементы у него-это a, весь nav и button. Их и расставим*/
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;/*Ставим логотип, ссылки и кнопку по центру*/
    justify-content: space-between;/*Расставляет элементы от края до края*/
    padding-top: 26px;/*Из макета отступ сверху от меню с сылками*/
    padding-bottom: 25px;/*аналогично*/

}
.header-logo{ /*Делаем отрисовку логотипа, чтобы не вставлять в html*/
    display: block;/*Делаем ссылку блочным элементом*/
    background-image: url(../images/logo.svg);
    width: 176px;/*Из макета*/
    height: 56px;/*Из макета*/
    background-repeat: no-repeat;/*по умолчанию картинка дублируется*/
    background-size: cover;/*Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. Чтобы в дальнейшем картинка подстраивалась под наши блоки*/
}


.header-nav{/*Упорядочим все li из списка*/
    list-style-type: none;/*Убираем точки у элементов списка, которые по умолчанию*/
    display: flex;
    padding-left: 0;/*В инспекторе увидели лишний отступ слева, убираем его*/
    gap: 46px;/*Расстояние между ссылками(элементами) в меню*/
}
.header-nav a{/*Стилизуем ссылки из меню*/
    font-weight: 600;/*Из макета*/
    font-size: 20px;/*Из макета*/
    color:#443737;/*Из макета*/
    text-decoration: none;/*убираем подчеркивание ссылок*/
}
.header-nav a::after{/*Создаем желтую линию под ссылкой, на которую наводим"*/
    content: '';/*так как это линия без букв, оставляем пустую строку*/
    width: 100%;
    height: 3px;
    border-radius: 1.5px;/*Из макета*/
    background: transparent;/*Делаем полоски не желтые, а прозрачные пока что*/
    display: block;/*Без этого свойства линии не будет*/
}
.header-nav a.active::after{/*Создаем желтую линию под "Главная"*/
    
    background: #FFC725;
    
}